__pycache__/
*.py[cod]
*$py.class

.Python
.venv/
venv/
env/

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
site/
*.egg-info/
.eggs/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.idea/

.flyte/
.union/
flyte-package.tgz
